.App {
  margin: 20px;
}
.concept {
  padding: 20px;
  /* border: 1px solid rgb(14, 14, 14); */
  box-shadow: 1px 1px 15px rgb(42, 32, 85);
  border-radius: 10px;
}

.reducer {
  box-shadow: 1px 1px 10px rgb(213, 209, 233);
  padding: 10px;
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
  background-color: rgb(42, 32, 85);
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px;
}
.git {
  background-color: black;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

h4 {
  color: white;
  text-align: center;
  padding: 5px 15px;
  background-color: rgb(42, 32, 85);
  border-radius: 5px;
}
